@{
    //ViewBag.Title = "Downloads";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}


<!Doctype html>
<html>


<head>
    <title>Download</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <link href="~/Css/General.css" rel="stylesheet" />
</head>
<body>

    <div class="Wrapper">
        @model List<string>
        <br />
        <br /><br />
        <h4>Learners Monthly Evaluation Forms</h4>
        <br />

        <div class="container-downloads">
            <table border="1" ; style="border-color:#f39c12; border-style:double;">
                <tr>
                    <th style="color:#2b398b;">Learner's Name</th>
                    <th style="color:#2b398b;">Download MEF</th>
                </tr>
                @for (var i = 0; i <= Model.Count - 1; i++)
            {
                    <tr>
                        <td>@Model[i].ToString() </td>
                        <td>@Html.ActionLink("Download", "Downloadings", new { Monthly = @Model[i].ToString() }) </td>
                    </tr>
                }


            </table>
            <div class="buttons">


                <input type="button" name="submit" class="btn btn-primary" value="Logout" onclick="location.href='@Url.Action("Logout", "Mentor")'" />
                <input type="button" name="submit" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Sign", "Sign")'" />
                @*<input type="button" name="submit" class="btn btn-primary" value="Monthly Evaluation Forms" onclick="location.href='@Url.Action("DownloadMEF", "Mentor")'" />*@
            </div>

        </div>


    </div>



</body>
</html>

