
@{
    //ViewBag.Title = "Success";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<br />
<br />

<!DOCTYPE html>

<html>
<head>
    <title>Learners Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Css/Learner.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Javascript/Upload.js"></script>
</head>
<body>
    <div class="Wrapper">

        <br />
        <div class="content" style="color:#2b398b;">
            @if (Session["Names"] != null || Session["Surname"] != null)
            {
                <text>
                    Learner: @Session["Names"].ToString()  @Session["Surname"].ToString()
                </text>
            }
        </div>



        <h2>Successfully Uploaded File</h2>
        <div class="alert" style="color:#0c7019">

            @ViewBag.filename

        </div>
        <div class="form-horizontal">

            <input type="button" name="btnHome" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Learner_Home", "LearnersHome")'" />
            <input type="button" name="btnHome" class="btn btn-primary" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
            <input type="button" name="submit" class="btn btn-primary" value="Logout" onclick="location.href='@Url.Action("Login", "Learner")'" />
        </div>

    </div>

  
    </body>
</html>